---
import CarouselChaquetas from "./CarouselChaquetas.jsx";
---

<section
  id="gallery-section"
  class="h-screen flex items-center justify-center p-4"
>
  <CarouselChaquetas client:load />
</section>
