<div class="flex items-center flex-row justify-start">
  <div
    class="z-50 headerHero flex items-center justify-start h-[10vh] rounded-lg fixed top-0 w-1/2 opacity-0"
  >
    <h2
      class="ml-5 lg:ml-10 text-[#FFD369] text-center opacity-1 font-extrabold z-50 relative text-xl lg:text-3xl"
    >
      MyMoon Customs
    </h2>
  </div>
</div>
