---
---

<header>
	<nav>
		<ul class="flex flex-row justify-center items-center">
			<li><a href="/index">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</nav>
</header>
