---
const title = "Moon Customs";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <!-- Add your stylesheets or other head elements here -->
  </head>
  <slot />

</html>
